.today-area-container{

    .title {
        margin-bottom: 30px;
        color: hsl(228, 12%, 44%);
    }

    .today-cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 25px;
        column-gap: 30px;
    }
}